<div class="container bg-white ">
    <div class="row justify-content-center">
        <h4 class="offset-1">Manage Dashboard</h4>
        <div class="col-md-5  Div1">
            <div class="row align-items-center">
                <div class="col-md-2 icon">
                    <i class="fas fa-list "></i>
                </div>
                <div class="col-md-8 items">
                    <h2>345</h2>
                    <p>Published Property</p>
                </div>
            </div>
        </div>
        <div class="col-md-5 offset-1 Div2">
            <div class="row align-items-center">
                <div class="col-md-2 icon">
                    <i class="fa-solid fa-star"></i>

                </div>
                <div class="col-md-8 items">
                    <h2>345</h2>
                    <p>Published Property</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">

        <div class="col-md-5  Div3">
            <div class="row align-items-center">
                <div class="col-md-2 icon">
                    <i class="fa-solid fa-comments"></i>
                </div>
                <div class="col-md-8 items">
                    <h2>345</h2>
                    <p>Published Property</p>
                </div>
            </div>
        </div>
        <div class="col-md-5 offset-1 Div4">
            <div class="row align-items-center">
                <div class="col-md-2 icon">
                    <i class="fa-solid fa-heart"></i>
                </div>
                <div class="col-md-8 items">
                    <h2>345</h2>
                    <p>Published Property</p>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="container bg-white ">
    <div class="row">
        <div class="col-md-10 offset-1 ">
            <h2 class="offset-1">Listing</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Username</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>fat</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>twitter</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<div class="container box3 bg-white">
    <div class="row member">
        <h2 class="title offset-1 ">Message</h2>
        <div class="col-md-1 pic offset-1 "><img src="assets/images/team_member_1.jpg" alt=""></div>
        <div class="col-md-6 offset-1 info">
            <p class="Name">Mary Smith</p>
            <p class="time">22 Minutes ago</p>
            <p class="message">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                incididunt ut labore et dolore</p>
        </div>
    </div>
    <div class="row member">
        <div class="col-md-1 pic offset-1 "><img src="assets/images/team_member_1.jpg" alt=""></div>
        <div class="col-md-6 offset-1 info">
            <p class="Name">Karl Tyron</p>
            <p class="time">23 Minutes ago</p>
            <p class="message">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                incididunt ut labore et dolore</p>
        </div>
    </div>

    <div class="row member">
        <div class="col-md-1 pic offset-1 "><img src="assets/images/team_member_3.jpg" alt=""></div>
        <div class="col-md-6 offset-1 info">
            <p class="Name">Lisa Willis</p>
            <p class="time">53 Minutes ago</p>
            <p class="message">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                incididunt ut labore et dolore</p>
        </div>
    </div>
</div>


<div class="container box4 bg-white">
    <div class="row member">
        <h2 class="title offset-1 ">Review</h2>
        <div class="col-md-1 pic offset-1 "><img src="assets/images/team_member_2.jpg" alt=""></div>
        <div class="col-md-6 offset-1 info">
            <p class="BuldingType">Family House</p>
            <p class="Name">Mary Smith</p>
            <p class="time">22 Minutes ago</p>
            <p class="message">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                incididunt ut labore et dolore</p>

        </div>
    </div>
    <div class="row member">
        <div class="col-md-1 pic offset-1 "><img src="assets/images/team_member_1.jpg" alt=""></div>
        <div class="col-md-6 offset-1 info">
            <p class="BuldingType"> Bay Apartment</p>
            <p class="Name">Karl Tyron</p>
            <p class="time">23 Minutes ago</p>
            <p class="message">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                incididunt ut labore et dolore</p>
        </div>
    </div>
    <div class="row member">
        <div class="col-md-1 pic offset-1 "><img src="assets/images/team_member_3.jpg" alt=""></div>
        <div class="col-md-6 offset-1 info">
            <p class="BuldingType">Family House Villa</p>
            <p class="Name">Lisa Willis</p>
            <p class="time">53 Minutes ago</p>
            <p class="message">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                incididunt ut labore et dolore</p>
        </div>
    </div>
</div>