<div class="container-fluid px-0 mb-5 pb-5 ">


     <div id="header-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">

          <div class="carousel-inner" *ngFor="let img of imageUrls; trackBy:imgUrlTrack">
               <div class="carousel-item animated fadeInLeft active">
                    <img class="w-100" [src]="img" alt="Image">
                    <div class="carousel-caption animated fadeInDown">
                         <div class="container">
                              <div class="row justify-content-end">
                                   <div class="col-lg-7 text-end">
                                        <a href="#" class="rent-now py-3 px-5 animated slideInRight">Rent Now</a>
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>
               <button class="carousel-control-prev" type="button" data-bs-target="#header-carousel"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
               </button>
               <button class="carousel-control-next" type="button" data-bs-target="#header-carousel"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
               </button>
          </div>


          <!-- START available For Rent -->
          <section class="portfolio bg-white-1 rec-pro">
               <div class="container">
                    <div class="row">
                         <div class="section-title col-md-5">
                              <h4 class="text-dark">Available Apartments</h4>
                              <h2>For Rent</h2>
                         </div>
                    </div>
                    <div class="row portfolio-items row-gap-3  mt-5">

                         <div class="col-md-4" *ngFor="let apartment of apartments">
                              <div class="card">
                                   <div class="img-container">
                                        <img [src]="apartment.imageUrl" alt="">
                                        <button class="show-details-btn">Show Details</button>
                                   </div>
                                   <div class="user-info">
                                        <ul class="more-info">
                                             <li>Area <span>{{apartment.area}}</span></li>
                                             <li>Rooms <span>{{apartment.numOfRooms}}</span></li>
                                             <li>Baths <span>{{apartment.numOfBathrooms}}</span></li>
                                             <li>Price <span>{{apartment.price | currency:'USD':'symbol':'1.0-0'
                                                       }}</span></li>
                                        </ul>
                                   </div>
                              </div>
                         </div>


                    </div>
               </div>
          </section>
          <!-- END available For Rent -->
          <div class="show-all">
               <button (click)="gotoAllApartments()" routerLinkActive="active">
                    Show All
                    <div class="arrow-wrapper">
                         <div class="arrow"></div>
                    </div>
               </button>
          </div>


     </div>