.user {
    padding: 1rem 0;

    background: #f5f7fb;
}

.my-properties {
    background: #FFFFFF;
    -webkit-box-shadow: 0 0 20px rgba(38, 38, 38, 0.2);
    box-shadow: 0 0 20px rgba(38, 38, 38, 0.2);
    padding: 30px;
}


.my-properties a {
    text-decoration: none;
}


.pagination {
    padding-top: 30px;

}

.pagination a:hover {
    background: #121B22;
    color: #fff;
}

.btn-common {
    background-color: #FF385C;
    position: relative;
    z-index: 1;
    color: #fff;
}

.btn.btn-common {
    padding: 15px 20px;
}

.pagination .page-link {
    margin: 0 10px;
    padding: 15px 20px;
    color: #FF385C;
    border-color: #f3f3f3;
    border-radius: 4px;
    background: #fff;
}

.pagination .page-link:hover {
    background: #FF385C;
    color: #fff;
}