<!-- START available For Rent -->
<section class="portfolio bg-white-1 rec-pro">
     <div class="container">
          <div class="row">
               <div class="section-title col-md-5">
                    <h4 class="text-dark">Available Apartments</h4>
                    <h2>For Rent</h2>
               </div>
          </div>
          <div class="container mt-5">
               <div class="row row-gap-5 all-appartments">

                    <div class="col-lg-4 col-md-6 col-sm-12">
                         <div class="box">
                              <div class="for-sale">For Sale</div>
                              <div class="top">
                                   <img src="https://cdn.pixabay.com/photo/2014/07/10/17/18/large-home-389271__340.jpg"
                                        alt="" />
                                   <button class="view-property-btn">View Property</button>
                              </div>
                              <div class="bottom">
                                   <h3 class="apartment-title">Home In Merrick Way</h3>
                                   <p class="apartment-location">
                                        <i class="fa-solid fa-location-dot"></i>Assiut, Egypt
                                   </p>
                                   <div class="advants">
                                        <div>
                                             <span>Bedrooms</span>
                                             <div><i class="fas fa-th-large"></i><span>3</span></div>
                                        </div>
                                        <div>
                                             <span>Bathrooms</span>
                                             <div><i class="fas fa-shower"></i><span>3</span></div>
                                        </div>
                                        <div>
                                             <span>Type</span>
                                             <div><i class="fa-solid fa-building"></i><span>Apartment</span>
                                             </div>
                                        </div>
                                        <div>
                                             <span>Area</span>
                                             <div>
                                                  <i class="fas fa-vector-square"></i><span>4300<span>Sq
                                                            Ft</span></span>
                                             </div>
                                        </div>
                                   </div>
                                   <div class="price">
                                        <span>$540,000</span>
                                   </div>
                              </div>
                              <div class="footer">
                                   <div class="owner-info">
                                        <div class="owner-details">
                                             <div class="owner-image">
                                                  <img src="https://www.entireflight.com/cdn/shop/articles/airplane_landing.png?v=1697724937&width=1456"
                                                       alt="Owner's Image">
                                             </div>
                                             <p class="owner-name">Owner Name</p>
                                        </div>
                                        <p class="ad-time">Ad Time</p>
                                   </div>
                              </div>


                         </div>
                    </div>

               </div>
          </div>

     </div>
</section>
<!-- END available For Rent -->