<!-- START available For Rent -->
<section class="portfolio bg-white-1 my-5 ">
     <div class="container">
          <div class="row">
               <div class="section-title col-md-5">
                    <h4 class="text-dark">Available Apartments</h4>
                    <h2>For Rent</h2>
               </div>
          </div>
          <div class="row portfolio-items row-gap-3  mt-5">

               <div class="col-md-6">
                    <div class="card">
                         <div class="img-container">
                              <img src="../../../assets/images/slider-01.jpg" alt="">
                              <button class="show-details-btn">Show Details</button>
                         </div>
                         <div class="user-info">
                              <ul class="more-info">
                                   <li>Area <span>720 sq ft</span></li>
                                   <li>Rooms <span>6</span></li>
                                   <li>Beds <span>2</span></li>
                                   <li>Baths <span>3</span></li>
                              </ul>
                         </div>
                    </div>
               </div>


               <div class="col-md-6">
                    <div class="card">
                         <div class="img-container">
                              <img src="../../../assets/images/slider-2.jpg" alt="">
                              <button class="show-details-btn">Show Details</button>
                         </div>
                         <div class="user-info">
                              <ul class="more-info">
                                   <li>Area <span>720 sq ft</span></li>
                                   <li>Rooms <span>6</span></li>
                                   <li>Beds <span>2</span></li>
                                   <li>Baths <span>3</span></li>
                              </ul>
                         </div>
                    </div>
               </div>


               <div class="col-md-4">
                    <div class="card">
                         <div class="img-container">
                              <img src="../../../assets/images/slider-3.jpg" alt="">
                              <button class="show-details-btn">Show Details</button>
                         </div>
                         <div class="user-info">
                              <ul class="more-info">
                                   <li>Area <span>720 sq ft</span></li>
                                   <li>Rooms <span>6</span></li>
                                   <li>Beds <span>2</span></li>
                                   <li>Baths <span>3</span></li>
                              </ul>
                         </div>
                    </div>
               </div>


               <div class="col-md-4">
                    <div class="card">
                         <div class="img-container">
                              <img src="../../../assets/images/slider-01.jpg" alt="">
                              <button class="show-details-btn">Show Details</button>
                         </div>
                         <div class="user-info">
                              <ul class="more-info">
                                   <li>Area <span>720 sq ft</span></li>
                                   <li>Rooms <span>6</span></li>
                                   <li>Beds <span>2</span></li>
                                   <li>Baths <span>3</span></li>
                              </ul>
                         </div>
                    </div>
               </div>

               <div class="col-md-4">
                    <div class="card">
                         <div class="img-container">
                              <img src="../../../assets/images/slider-3.jpg" alt="">
                              <button class="show-details-btn">Show Details</button>
                         </div>
                         <div class="user-info">
                              <ul class="more-info">
                                   <li>Area <span>720 sq ft</span></li>
                                   <li>Rooms <span>6</span></li>
                                   <li>Beds <span>2</span></li>
                                   <li>Baths <span>3</span></li>
                              </ul>
                         </div>
                    </div>
               </div>
          </div>
     </div>
</section>
<!-- END available For Rent -->